{% extends "base.html" %}
{% load static %}

{% block title %}Inicio{% endblock title %}

{% block styles %}
{% endblock %}

{% block content %}
<div class="container">
    <div class="row text-center">
        <div class="col-12">
            <h2>Sitio en construcción...</h2>
        </div>
        <div class="col-12">
            <img src="https://i.pinimg.com/originals/af/d1/81/afd181152c7ff1347bb7e7aa8050fa73.gif" class="img-fluid">
        </div>
    </div>
</div>

{% endblock %}
{% block scriptsEnd %}
{% endblock %}