
/* Variables */
:root {
    --card-border-radius: 16px;
}

/* Rotar flecha del boton de Filtros */
.dropdown-toggle[aria-expanded="true"]:after {
    transform: rotate(180deg); 
}
.dropdown-toggle:after { 
    transition: 0.2s; 
}
/* Estilos de las cards de ferias */
.card-feria{
    border-radius: var(--card-border-radius);
    box-shadow: 0 4px 8px 0 rgba(0,0,0,0.2);
    transition: 0.3s;
}
.card-feria:hover {
    box-shadow: 0 8px 8px 0 rgba(0,0,0,0.2);
}
.card-feria-container{
    padding: 16px 16px;
}
.card-img{
    border-radius: var(--card-border-radius) var(--card-border-radius) 0px 0px;
}